.contact {
  position: relative;
  z-index: 5;
  width: 100%;
  height: 100%;
  padding-top: 10rem;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 7rem;
  &_title {
    font-size: 7rem;
    font-weight: var(--light);
    z-index: 2;
  }
  &_container {
    z-index: 2;
    width: 100%;
    display: flex;
    gap: 5rem;
    align-items: start;
    justify-content: space-evenly;
    flex-wrap: wrap;
    &_card {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      max-width: 40rem;
      gap: 3rem;
      &_title {
        font-size: 4rem;
        font-weight: var(--light);
        color: var(--secondary);
        white-space: nowrap;
      }
      &_text {
        font-size: 2.5rem;
        font-weight: var(--light);
        color: var(--white);
      }
    }
  }
  &_links {
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-width: 70rem;
    z-index: 2;
    &_link {
      font-size: 3.5rem;
      font-weight: var(--light);
      color: var(--tertiary);
    }
  }
  &_circle1 {
    position: absolute;
    bottom: -15%;
    left: -12%;
    width: 40rem;
    height: 30rem;
    background: var(--primary-light);
    border-radius: 50%;
    filter: blur(10rem);
    z-index: 1;
  }
  @media screen and (max-width: 800px) {
    &_circle1 {
      position: absolute;
      bottom: -10%;
      left: -40%;
    }
    &_links {
      padding: 0 3rem;
      &_link {
        font-size: 2.5rem;
      }
    }
  }
}
