.navbar {
  position: relative;
  z-index: 10;
  height: 8rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &_left {
    display: block;
    &_logo {
      cursor: pointer;
      position: relative;
      font-weight: var(--light);
      font-size: 2.5rem;
      &::after {
        content: "";
        position: absolute;
        z-index: -1;
        bottom: 0.5rem;
        left: 50%;
        transform: translate(-50%);
        width: 50%;
        height: 0%;
        border-radius: 50%;
        background: var(--secondary);
        filter: blur(0.5rem);
        transition: all 0.3s ease-out;
      }
      &:hover::after {
        height: 25%;
        width: 110%;
      }
      @media screen and (max-width: 800px) {
        font-size: 3rem;
        position: relative;
        z-index: 100;
        &::after {
          display: none;
        }
        &_active {
          position: fixed;
          top: 15.5px;
        }
      }
    }
  }
  &_right {
    display: block;
    width: 60%;
    max-width: 80rem;
    &_list {
      display: flex;
      justify-content: space-between;
      &_item {
        position: relative;
        font-size: 1.9rem;
        font-weight: var(--light);
        cursor: pointer;

        &::after {
          content: "";
          position: absolute;
          z-index: -1;
          bottom: 0.5rem;
          left: 50%;
          transform: translate(-50%);
          width: 50%;
          height: 0%;
          border-radius: 50%;
          background: var(--secondary);
          filter: blur(0.5rem);
          transition: all 0.3s ease-out;
        }
        &:hover::after {
          height: 30%;
          width: 140%;
        }
        &_toggler {
          cursor: auto;
          display: flex;
          gap: 2rem;
          &_theme {
            width: 2.8rem;
            height: 2.8rem;
            cursor: pointer;
            & svg {
              width: 100%;
              height: 100%;
              color: var(--tertiary);

              transition: all 0.2s;
              &:hover {
                filter: drop-shadow(0px 0px 5px var(--tertiary));
              }
            }
          }
          &_sound {
            cursor: pointer;
            width: 2.8rem;
            height: 2.8rem;
            & svg {
              width: 100%;
              height: 100%;
              color: var(--tertiary);

              transition: all 0.2s;
              &:hover {
                filter: drop-shadow(0px 0px 5px var(--tertiary));
              }
            }
          }
        }
      }
    }
    @media screen and (max-width: 800px) {
      display: none;
      width: 60%;
      max-width: none;
      &_active {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0rem;
        left: 0rem;
        width: 100%;
        height: 100vh;
        background: var(--primary);
        padding-top: 10rem;
        padding-bottom: 3rem;
        gap: 5rem;
      }
      &_links {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 3rem;
        margin-top: auto;
        margin-bottom: 5rem;
        &_container {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 2rem;
          &_link {
            width: 5rem;
            height: 5rem;
            & svg {
              width: 100%;
              height: 100%;
            }
          }
        }
        &_line {
          height: 3px;
          border-radius: 1rem;
          width: 30%;
          background: var(--tertiary);
        }
      }
      &_list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 55%;
        height: 100%;
        max-height: 85rem;
        &_item {
          position: relative;
          font-size: 3rem;
          cursor: pointer;
          border-left: none;
          display: flex;
          align-items: center;
          justify-content: left;

          text-align: left;
          margin-left: -5rem;
          & a {
            width: 100%;
            height: 100%;
            padding: 1.5rem;
            padding-left: 50%;
          }
          &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background: none;
            border: 2px solid var(--secondary);
            transform: skewX(-40deg);
            filter: none;
            border-radius: 0;
          }
          &:hover::after {
            width: 100%;
            height: 100%;
          }
          &_toggler {
            padding: 1.5rem;
            padding-left: 50%;
            cursor: auto;
            display: flex;
            gap: 2rem;
            &_theme {
              width: 4.2rem;
              height: 4.2rem;
              cursor: pointer;
              & svg {
                width: 100%;
                height: 100%;
                color: var(--tertiary);

                transition: all 0.2s;
                &:hover {
                  filter: drop-shadow(0px 0px 5px var(--tertiary));
                }
              }
            }
            &_sound {
              cursor: pointer;
              width: 4.2rem;
              height: 4.2rem;
              & svg {
                width: 100%;
                height: 100%;
                color: var(--tertiary);
                transition: all 0.2s;
                &:hover {
                  filter: drop-shadow(0px 0px 5px var(--tertiary));
                }
              }
            }
          }
        }
      }
      @media screen and (max-height: 700px) {
        &_list {
          &_item {
            & a {
              padding-top: 1rem;
              padding-bottom: 1rem;
            }
            &_toggler {
              padding-top: 1rem;
              padding-bottom: 1rem;
              &_theme {
                width: 4rem;
                height: 4rem;
              }
              &_sound {
                width: 4rem;
                height: 4rem;
              }
            }
          }
        }
      }
    }
  }

  &_toggle {
    width: 5rem;
    height: 5rem;
    position: relative;
    cursor: pointer;
    &_up {
      width: 100%;
      height: 2px;
      background: var(--tertiary);
      position: absolute;
      top: 25%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: all 0.2s linear;
    }
    &_down {
      width: 50%;
      height: 1px;
      background: var(--tertiary);
      position: absolute;
      top: 75%;
      left: 0;
      transition: all 0.2s ease-in-out;
    }

    &_active {
      position: fixed;
      right: 21px;
      &_up {
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
        border-radius: 1rem;
      }
      &_down {
        width: 100%;
        height: 2px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
        border-radius: 1rem;
      }
    }
    @media screen and (min-width: 800px) {
      display: none;
    }
  }
}

.circle {
  position: absolute;
  border-radius: 50%;
  background: var(--secondary);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.line {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-top: 2px solid var(--secondary);
  border-bottom: 2px solid var(--secondary);
}
.clip {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  //clip-path: polygon(0 50%, 100% 50%, 100% 50%, 0 50%);
}
