.projects {
  position: relative;
  z-index: 5;
  width: 100%;
  height: 100%;
  padding-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 7rem;
  &_title {
    font-size: 7rem;
    font-weight: var(--light);
    z-index: 2;
  }
  &_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10rem;
    padding: 0 3rem;
    &_project {
      position: relative;
      width: 100%;
      height: fit-content;
      display: flex;
      align-items: start;
      gap: 4rem;
      &_left {
        position: relative;
        z-index: 5;
        padding-top: 1rem;
        width: 50%;
        &_imgContainer {
          width: 100%;
          border: 0.4rem solid var(--secondary);
          box-shadow: 0px 0px 20px 1px var(--secondary);
          border-radius: 1rem;
          overflow: hidden;
          &_image {
            width: 100%;
            height: auto;
            object-fit: contain;
            vertical-align: bottom;
          }
        }
      }
      &_right {
        position: relative;
        z-index: 5;
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        &_name {
          font-size: 5rem;
          font-weight: var(--light);
        }
        &_techContainer {
          width: 100%;
          height: fit-content;
          display: flex;
          flex-wrap: wrap;
          gap: 1rem;
          align-items: center;
          &_tech {
            font-size: 2.2rem;
            color: var(--secondary);
            font-weight: var(--bold);
            &_made {
              color: var(--tertiary-dark);
              font-size: 2.7rem;
            }
          }
        }
        &_description {
          font-size: 2.5rem;
          color: var(--tertiary);
          font-weight: var(--light);
        }
        &_buttons {
          margin-top: 2rem;
          display: flex;
          gap: 2rem;
          &_btn {
            display: flex;
            align-items: center;
            gap: 1rem;
            position: relative;
            width: fit-content;
            border: 2px solid var(--secondary);
            padding: 0.5rem 1rem;
            font-size: 2.8rem;
            color: var(--secondary);
            font-weight: var(--medium);
          }
        }
      }
      &_circle {
        position: absolute;
        width: 35rem;
        height: 25rem;
        border-radius: 50%;
        filter: blur(10rem);
        z-index: 1;
        &_up {
          background: var(--secondary);
          top: -15%;
          right: -25%;
          filter: blur(15rem);
        }
        &_down {
          width: 45rem;
          height: 35rem;
          background: var(--primary-light);
          bottom: -15%;
          left: -12%;
          filter: blur(8rem);
        }
      }
    }
  }
  @media screen and (max-width: 800px) {
    &_title {
    }
    &_container {
      gap: 15rem;
      padding: 0;
      &_project {
        flex-direction: column;
        align-items: center;
        flex-direction: column-reverse;
        text-align: center;
        &_left {
          width: 100%;
          max-width: 70rem;
          &_imgContainer {
            &_image {
            }
          }
        }
        &_right {
          width: 100%;
          max-width: 70rem;
          justify-content: center;
          &_name {
            font-size: 4rem;
          }
          &_techContainer {
            align-items: center;
            justify-content: center;
            &_tech {
              font-size: 2rem;
              &_made {
                font-size: 2.5rem;
              }
            }
          }
          &_description {
            font-size: 2.3rem;
          }
          &_buttons {
            justify-content: center;
            gap: 4rem;
            &_btn {
              gap: 1rem;
              padding: 0.5rem 1rem;
              font-size: 2.5rem;
              & svg {
                width: 100%;
                height: 100%;
              }
            }
          }
        }
        &_circle {
          width: 25rem;
          height: 15rem;

          &_up {
            top: -10%;
            right: -20%;
          }
          &_down {
            width: 45rem;
            height: 35rem;
            top: 5%;
            left: -50%;
          }
        }
      }
    }
  }
}
