.skills {
  position: relative;
  z-index: 5;
  width: 100%;
  height: 100%;
  padding: 10rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 7rem;
  &_title {
    font-size: 7rem;
    font-weight: var(--light);
    z-index: 2;
  }
  &_container {
    z-index: 2;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6rem;
    &_category {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 3rem;
      padding: 0 3rem;
      &_title {
        font-size: 3.5rem;
        font-weight: var(--light);
        color: var(--tertiary);
      }
      &_skillsContainer {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        &_skill {
          font-size: 2.5rem;
          color: var(--card-text);
          background: var(--card-bg);
          padding: 1rem 2.5rem;
          border-radius: 0.3rem;
        }
      }
    }
  }
  &_circle1 {
    position: absolute;
    bottom: 0%;
    left: -18%;
    width: 35rem;
    height: 25rem;
    background: var(--secondary);
    border-radius: 50%;
    filter: blur(14rem);
    z-index: 1;
  }
  &_circle2 {
    position: absolute;
    bottom: 0%;
    right: -20%;
    width: 50rem;
    height: 40rem;
    background: var(--primary-light);
    border-radius: 50%;
    filter: blur(13rem);
    z-index: 1;
  }
  @media screen and (max-width: 800px) {
    &_circle1 {
      position: absolute;
      bottom: 0%;
      left: -40%;
    }
    &_circle2 {
      bottom: 40%;
      right: -25%;
      width: 50rem;
      height: 40rem;
      filter: blur(12rem);
    }
  }
}
