$themes: (
  dark: (
    primary: #111821,
    primary-dark: #223247,
    primary-light: #2e4a6f,
    secondary: #e31b6d,
    tertiary: #ffffff,
    tertiary-dark: #a9bbd3,
  ),
  light: (
    primary: #5fabf0,
    primary-dark: #1f4578,
    primary-light: #345784,
    secondary: #e31b6d,
    tertiary: #111821,
    tertiary-dark: #1c2a3d,
  ),
);
