:root {
  /* Your default theme */
  --primary: #111821;
  --primary-dark: #223247;
  --primary-light: #2e4a6f;
  --secondary: #e31b6d;
  --tertiary: #ffffff;
  --tertiary-dark: #a9bbd3;
  --light: 300;
  --medium: 400;
  --bold: 500;
  --bolder: 600;
  --card-bg: #111821;
  --card-text: #e31b6d;
}
.light {
  --primary: #ffffff;
  --primary-dark: #1f4578;
  --primary-light: #afd2ff;
  --secondary: #e31b6d;
  --tertiary: #111821;
  --tertiary-dark: #1c2a3d;
  --light: 500;
  --medium: 500;
  --bold: 600;
  --bolder: 700;
  --card-bg: #e31b6d;
  --card-text: #111821;
}
.dark {
  /* Your default theme */
  --primary: #111821;
  --primary-dark: #223247;
  --primary-light: #2e4a6f;
  --secondary: #e31b6d;
  --tertiary: #ffffff;
  --tertiary-dark: #a9bbd3;
  --light: 300;
  --medium: 400;
  --bold: 500;
  --bolder: 600;
  --card-bg: #223247;
  --card-text: #e31b6d;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent; /* for removing the highlight */
  @media screen and (min-width: 800px) {
    cursor: none !important;
  }
}

html {
  user-select: none;
  font-size: 62.5%; // 1rem = 10px
  height: 100%;
  @media screen and (max-width: 1200px) {
    font-size: 58%;
  }
  @media screen and (max-width: 1000px) {
    font-size: 50%;
  }
  @media screen and (max-width: 800px) {
    font-size: 45%;
  }
}
body {
  font-weight: var(--medium);
  font-size: 2rem;
  color: var(--tertiary);
  background: var(--primary);
  transition: all 0.3s;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

input,
textarea,
button,
a {
  font-family: inherit;
  text-decoration: none;
  color: inherit;
}
ul,
ol {
  list-style: none;
}
